<h1>Hello at {{hall.name}}</h1>
<p>{{hall.street}}</p>
<p>{{hall.zip}}</p>
<p>{{hall.city}}</p>
<p>Category: Football, Handball</p>
<p>Equipment: nets, goals,..</p>
<br><br><br>
<p>Available slots:</p>
<form action="/book-hall/{{hall._id}}" method="POST">
  <label for="bookingDate">Choose date</label>
  <input type="date" name="bookingDate">
  <select id="slots" name="slots">
    <option name="8-9">8 - 9</option>
    <option name="9-10">9 - 10</option>
    <option name="10-11">10 - 11</option>
    <option name="11-12">11 - 12</option>
    <option name="12-13">12 - 13</option>
  </select>
  <br><br>

  <select id="teamBooking" name="teamBooking">
    {{#each userTeams}}
    <option name="{{_id}}">{{teamName}}</option>
    {{/each}}
  </select>

  <br><br>
  <button type="submit">Book</button>
</form>
{{#if message}}
<div id="error-message">
  {{message}}
</div>
{{/if}}